
        *{
            box-sizing: border-box;
        }
        .main{
            position: relative;
            margin: 10%;
        }
        .title{
            text-align:center;
            font-size:xx-large;
        }
        .container{
            background-color: rgb(179, 178, 178);
            margin: 2%;
            width: 30%;
            padding:2%;
            border: 2px solid black;
            border-radius: 10px;
        }
        .name{
           text-align: center;
           position: relative;
           float:right;
           width: 50%;
           border: 3px solid;
           border-radius: 10px;
        }
        .chicken{
            background-color: pink;
        }
        .beef{
            background-color: rgb(188, 82, 82);
            color:aliceblue;
            border-color: black;
        }
        .sushi{
            background-color: rgb(207, 207, 133);
        }
    @media screen and (max-width:767px) /*FOR MOBİLE*/
    {
       .container{
        width: 100%;
       }
    }
    @media screen and (min-width:768px) and (max-width:991px) /*FOR TABLET*/
    {
       .container{
        width: 45%;
        float:left;
        position:static;

       }
       .cont-sushi{
        width: 95%;
       }
       .title-sushi{
        width: 25%;
       }
    }
    @media screen and (min-width:992px) /*FOR WEB*/
    {
        .container{
            width: 32%;
            float: left;
            margin: 0.5%;
        }
    }